{
  "bot": {
    "token": "bot_token",
    "prefix": "!",
    "debug": false
  },
  "cryptorescued": {
    "port": 9999,
    "user": "cprd",
    "pass": "cprd"
  },
  "sandboxchannel": "#channelID"
}
